<div class='card'>
  <div class='card-header'>
    <h2 class='h3 mb-3 fw-normal'>New Post</h2>
  </div>
  <form class='form post-form card-body'>
    <div>
      <label for='title-post' class='text-dark'>Title:</label>
      <input class='form-control' type='text' id='title-post' />
    </div>
    <div>
      <label for='content-post' class='text-dark'>Content:</label>
      <input class='form-control' type='text' id='content-post' />
    </div>
    <div>
      <button class='btn btn-lg btn-primary mt-3' type='submit'>Create</button>
    </div>
  </form>
</div>
<script src='../js/newPost.js'></script>