<div class='card signUp'>
  <div class='card-header'>
    <h2 class='h3 mb-3 fw-normal'>Signup</h2>
  </div>
  <form class='form-signin card-body'>
    <div>
      <label for='name-signup'>Name:</label>
      <input type='text' class="form-control" id='name-signup' />
    </div>
    <div>
      <label for='email-signup'>Email:</label>
      <input type='text' class="form-control" id='email-signup' />
    </div>
    <div>
      <label for='password-signup'>Password:</label>
      <input type='password' class="form-control" id='password-signup' />
    </div>
    <div>
      <button class='btn btn-lg btn-primary mt-3' type='submit'>signup</button>
    </div>
  </form>
</div>

<script src='./js/signUp.js'></script>