body {
  background-color: #39719e;
  color: white;
}
header,
.card-header {
  background-color: #343a40;
}

a {
  color: white;
}

.post,
.signUp,
.logIn {
  background-color: #39719e;
  border: 5px solid #343a40;
}

.post a {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: 60px;
  right: 45%;
}
